#aboutMeContainer {
  text-align: center;
}



.aboutMe {
  position: relative;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.aboutMe h1 {
  color: #ee8100;
  padding-bottom: 0.5em;
  font-size: 2em;
  margin: 2em 0em;
  border-bottom: 1px solid #ee8100;
  display: inline-block;
}



#skills-triptach {
  padding: 2em 0em;
}

.tripUnit {
  position: absolute;
  height: 100%;
  margin: 1em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: inline-block;
  width: calc(100% / 4);
  background-color: #ee8100;
  padding: 1em;
  z-index: 1;
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: bottom 1s, box-shadow 0.2s;
}

.tripUnit:hover {
  bottom: 10px;
  box-shadow: 4px -2px 2px 0px rgba(0, 0, 0, .4);
}


.tripUnit h2 {
  border-bottom: 1px dashed white;
  padding-bottom: 0.5em;
  margin: 1em;
  font-size: 2em;
  color: white;
}

.eye {
  color: #75ddde;
}

/*ABOUT ME FLOATER*/

.aboutMeTitleContainer {
  position: relative;
}

.aboutMeTitle {
  z-index: 8;
  position: absolute;
  font-family: 'Special Elite', cursive;
}

.aboutMeTitle span {
  position: relative;
  left: -12em;
  top: -3em;
  color: #ff6601;
  font-size: 1.5em;
}


.subAbout {
  position: relative;
  bottom: 10em;
  height: 14em;
  width: 100%;
  background-color: #ee8100;
  padding-bottom: 5em;
}


.description {
  top: -10em;
  position: relative;
  background-color: #84feff;
  font-family: 'Quicksand', sans-serif;
  box-shadow: 10px 10px rgba(128,128,128,0.5);
}

.description img {
  position: relative;
  width: calc(100% / 2);
  display: inline-block;
  vertical-align: top;
}

.aboutContent {
  width: calc((100% / 2) - 10px);
  position: relative;
  display: inline-block;
}

.aboutContent h2 {
  display: inline-block;
  font-family: 'Rye', cursive;
  color: red;
  font-size: 2em;
  padding: 0.5em 1em 0.5em 0em;
  margin-left: 1em;
  border-bottom: 1px dashed red;
}

.aboutContent p {
  text-indent: 1em;
  padding: 0px 2em;
  font-size: 1.8vw;
  color: black;
}

.aboutContent em{
  color: #ee8100;
  font-style: italic;
}

.aboutContent a {
  color: red;
  font-weight: bolder;
}

.aboutContent a:hover{
  text-decoration: underline;
}
