#aboutMeContainer {
  position: relative;
  top: -30%;
  z-index: 5;
  padding: 4em;
  background-color: #e2e2e2;
  top: -5px;
  text-align: center;
}

.aboutMe {
  position: relative;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.aboutMe h1 {
  color: #ee8100;
  font-size: 2em;
  padding-bottom: 2em;
}

#skills-triptach {
  padding: 2em 0em;
}

#uxui {
  width: calc(100% / 3);
  border: 1px solid #ee8100;
  padding: 1em;
}

#uxui h2 {
  padding: 1em;
  font-size: 2em;
  color: #ee8100;
}

.eye {
  color: #75ddde;
}

.aboutMeTitleContainer {
  position: relative;
}

.aboutMeTitle {
  z-index: 8;
  position: absolute;
  font-family: 'Special Elite', cursive;
}

.aboutMeTitle span {
  position: relative;
  left: -12em;
  top: -3em;
  color: #ff6601;
  font-size: 1.5em;
}

/*.grayBackground {
  width: 100%;
  height: 20em;
  background-color: #222;
  position: relative;
  z-index: -1;
  top: -10em;
}

#about-gray {
  width: 100%;
  position: relative;
  z-index: -1;
  top: -10em;
}

#grayBackgroundParallaxContainer {
  position: relative;
  top: -1em;
}*/
