#aboutMeContainer {
  position: relative;
  padding: 4em;
  z-index: 2;
}

.angledBackgroundOne {
  width: 200%;
  height: 50em;
  background-color: #222;
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-35deg);
  position: absolute;
  z-index: 1;
  left: -45%;
  top: 20vw;
}
