.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.bodyContainer {
  width: 100%;
}


.indent {
  text-indent: 1em;
}

.lightGreen {
  color: lightgreen;
}

.blue {
  color: skyblue;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
