footer {
  text-align: center;
  background-color: #222;
  color: #9a9a9a;
}

.topLine {
  display: inline-block;
  border-bottom: 1px solid #9a9a9a;
  margin-bottom: 1em;
}

footer p {
  padding: 2em;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
}

footer, a {
  color: #9a9a9a;
  padding: 0em 0.5em 3em 0.5em;
  text-decoration: none;
}
