nav {
  position: fixed;
  width: 100%;
  background-color: #222;
  padding: 1em 0em;
  z-index: 5;
}

.donger {
  font-family: arial, sans-serif;
  font-weight: bold;
  color: red;
  padding: 0em 1em;
}

#title {
  font-family: 'Rye', cursive;
  font-size: 1.5em;
  color: white;
}

.navButtons a {
  font-family: 'Righteous', cursive;
  color: #9a9a9a;
  padding: 0em 1em;
  height: 100%;
  text-decoration: none;
}
