.meFull {
  width: 100%;
  padding-top: 3.5em;
}

.imageFull {
  width: 100%;
}

.meLeft {
  z-index: 1;
  position: absolute;
  top: 3.5em;
  opacity: 0;
  transition: opacity 2s;
  width: 50%;
}

.meLeft:hover {
  opacity: 1;
}

.meRight {
  z-index: 1;
  position: absolute;
  top: 3.5em;
  right: 0;
  opacity: 0;
  transition: opacity 2s;
  width: 50%;
}
 .meRight:hover {
   opacity: 1;
 }

.techSkills {
  position: absolute;
  font-family: 'Inconsolata', monospace;
  font-size: 150%;
  left: -10%;
  top: 15%;
  z-index: 2;
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 8px black;
}

.indent {
  text-indent: 1em;
}

.lightGreen {
  color: lightgreen;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}
